n8n-workflows/Market Data Fetcher.json
{
  "name": "Workflow 1 (Market Data Fetcher)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "373edb89-cae2-4a02-b63c-da538603a2f9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc1ef2c9-f539-45c3-be50-643f2c114a06",
              "leftValue": "={{ new Date().toLocaleString('en-US', {timeZone:'Asia/Kolkata', hour:'numeric', hour12:false}) }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "111c5cac-7ad2-4fd4-ac52-2ef3ae3689bd",
              "leftValue": "={{ new Date().toLocaleString('en-US', {timeZone:'Asia/Kolkata', hour:'numeric', hour12:false}) }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        144
      ],
      "id": "51d5e75b-821a-4a5c-987a-fce95e0f9481",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        400
      ],
      "id": "5a22761a-0a73-4807-9ae5-6fc6b8585c06",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        -192
      ],
      "id": "baf98f8a-c927-4f72-b5ab-694ad2af2045",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\nfor (const item of $input.all()) {\n  const chart = item.json.chart.result[0];\n  const closes = chart.indicators.quote[0].close.filter(Boolean);\n  const volumes = chart.indicators.quote[0].volume.filter(Boolean);\n  const meta = chart.meta;\n\n  // RSI calculation (14-period)\n  const period = 14;\n  let gains = 0, losses = 0;\n  for (let i = closes.length - period; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff > 0) gains += diff; else losses += Math.abs(diff);\n  }\n  const rs = (gains / period) / (losses / period);\n  const rsi = Math.round((100 - (100 / (1 + rs))) * 10) / 10;\n\n  // Volume ratio\n  const recentVol = volumes[volumes.length - 1];\n  const avgVol = volumes.slice(-20).reduce((a,b) => a+b, 0) / 20;\n  const volume_ratio = Math.round((recentVol / avgVol) * 10) / 10;\n\n  result.push({ json: {\n    timestamp: new Date().toISOString(),\n    stock: meta.symbol,\n    price: meta.regularMarketPrice,\n    rsi: rsi,\n    volume_ratio: volume_ratio\n  }});\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -160
      ],
      "id": "c8f58678-e0aa-420a-8094-1ef2d0ce1245",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/RELIANCE.NS?interval=5m&range=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -192
      ],
      "id": "6f2e0d9e-334c-446a-b677-4dcbf9b9c355",
      "name": "RELIANCE NS"
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/INFY.NS?interval=5m&range=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -32
      ],
      "id": "fedf1140-d04d-48c4-9cbb-bbd20d7b3676",
      "name": "INFY NS"
    },
    {
      "parameters": {
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/TCS.NS?interval=5m&range=1d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        144
      ],
      "id": "03d961a3-00d7-4001-ab9a-19b0e1779e1a",
      "name": "TCS NS"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Stock": "={{ $json.stock }}",
            "Price": "={{ $json.price }}",
            "RSI": "={{ $json.rsi }}",
            "Volume Ratio": "={{ $json.volume_ratio }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stock",
              "displayName": "Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RSI",
              "displayName": "RSI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MACD",
              "displayName": "MACD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Volume Ratio",
              "displayName": "Volume Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -160
      ],
      "id": "4a077730-9822-4e83-b085-2cd877294554",
      "name": "Market Data"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "RELIANCE NS",
            "type": "main",
            "index": 0
          },
          {
            "node": "INFY NS",
            "type": "main",
            "index": 0
          },
          {
            "node": "TCS NS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RELIANCE NS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFY NS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TCS NS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
