n8n-workflows/Signal Scanner.json
{
  "name": "Workflow 2 (Signal Scanner)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1/5 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "aa97fc5a-2fed-4b3c-860e-e99b16114f54",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "caa35e57-57bd-4a1e-a3ec-c03b2c07b4eb",
              "leftValue": "={{ $json.RSI }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "754be4b5-e9f7-480a-9784-3b321e633c4f",
              "leftValue": "={{ $json.RSI }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "f5bb76f2-ad70-4953-851b-0b4531def586",
              "leftValue": "={{ $json['Volume Ratio'] }}",
              "rightValue": 1.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "3c50319e-3be7-4857-84d9-ea6f6b7b72cb",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        128,
        304
      ],
      "id": "54fec5e1-7000-4650-8160-76dc994dee37",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        592
      ],
      "id": "1e7d0b75-1f21-4cbe-baa2-148fd2046900",
      "name": "Wait"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        -16
      ],
      "id": "eb1b518d-500f-4d8a-9b22-9e5eb9e9a65d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Stock: {{ $('Market Data').item.json.Stock }}, Price: {{ $('Market Data').item.json.Price }}, RSI: {{ $('Market Data').item.json.RSI }}, Volume ratio: {{ $('Market Data').item.json['Volume Ratio'] }}. Rate this as Low, Medium, or High confidence buy signal. Reply in one line: CONFIDENCE: [level] — [one sentence reason]\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        368
      ],
      "id": "2deea59a-4c0d-4fc3-8519-febd98c07557",
      "name": "Gemini api",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "=https://www.alphavantage.co/query?function=RSI&symbol={{ $json.Stock }}&interval=5min&time_period=14&series_type=close&apikey={{ $env.ALPHA_VANTAGE_API_KEY }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        208
      ],
      "id": "45144ac4-e888-4a23-8de0-c0353d86667a",
      "name": "Alpha vantage api",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0924dde-c2f1-4e98-8f8e-9391d07acb16",
              "leftValue": "={{ $('Gemini api').item.json.candidates[0].content.parts[0].text.includes('High') || $('Gemini api').item.json.candidates[0].content.parts[0].text.includes('Medium') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        592
      ],
      "id": "42aec7ac-cbe6-49af-b928-ae5a35ab1ed6",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        688
      ],
      "id": "a9c59195-7c8f-41aa-a2e5-21a4ad3a5243",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YOUR_SUB_WORKFLOW_ID_HERE",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1040,
        496
      ],
      "id": "65f822f0-196a-4535-901b-b34c0e7e871c",
      "name": "Workflow 3 (Risk Check)"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "3574c3e9-2834-4b36-931f-4641422a303c",
      "name": "Market Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Alpha vantage api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini api": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpha vantage api": {
      "main": [
        [
          {
            "node": "Gemini api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Workflow 3 (Risk Check)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
